* {
  margin: 0;
  padding: 0;
  outline: none;
  max-width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
body {
  position: relative;
}
header {
  z-index: 1;
  width: 100%;
  position: absolute;
}
p,
a,
h1,
h2 {
  color: #333;
}
p,
ul {
  margin: 0.3rem;
  padding: 0.3rem;
  max-width: 900px;
}
a {
  color: #39e;
  cursor: pointer;
  padding: 0.3rem;
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
  border: solid 1px transparent;
  border-bottom-color: currentColor;
}
a:hover {
  border-color: currentColor;
}
i {
  color: inherit;
  font-weight: 100;
  font-style: normal;
  font-size: inherit;
  text-shadow: inherit;
  transition: color 0ms;
  text-transform: inherit;
}
h1,
h2 {
  padding: 0.3rem;
  font-weight: 300;
  text-transform: capitalize;
}
h1 {
  font-size: 2.9rem;
}
h2 {
  margin: 0.3rem;
  padding: 0.3rem;
  font-size: 2.3rem;
  margin-top: 3rem;
}
strong {
  color: inherit;
  font-style: normal;
  font-size: inherit;
  text-shadow: inherit;
  transition: color 0ms;
  text-transform: inherit;
}
input,
textarea {
  flex: 1;
  border: none;
  display: flex;
  margin: 0.6rem;
  max-width: 100%;
  padding: 0.6rem;
  background: #fff;
  border-bottom: solid 1px #eee;
}
textarea {
  width: 100%;
  margin: 0.6rem 0;
}
input:focus,
textarea:focus {
  background: #eee;
  border-color: #39e;
}
ul {
  list-style: none;
}
ul li {
  padding: 0.5rem;
}
ul li i {
  color: #999;
  font-size: 0.9rem;
  font-style: italic;
}
ul li ul {
  list-style: disc inside;
}
form {
  padding: 0.9rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}
::selection {
  color: #fff;
  background-color: #39e;
}
::-moz-selection {
  color: #fff;
  background-color: #39e;
}
.button {
  border: none;
  color: #39e;
  cursor: pointer;
  margin: 0.3rem;
  border: solid 1px;
  border-color: #39e;
  padding: 0.6rem 0.9rem;
  text-transform: uppercase;
}
.button:hover:enabled {
  color: #fff;
  background-color: #39e;
}
.button:disabled,
.button:disabled:hover {
  color: #999;
  cursor: not-allowed;
  border-color: #999;
}
.title {
  background: #39e;
  margin-bottom: 3rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.title h1 {
  color: #fff;
  text-align: center;
  padding: 6rem 0 3rem 0;
}
.menu .menu-list a.active {
  color: #999;
}
.menu .menu-list a:hover {
  background-color: #39e;
}
.menu.active .menu-list {
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.start {
  display: flex;
  align-self: flex-start;
}
.end {
  display: flex;
  align-self: flex-end;
}
.center {
  display: flex;
  align-self: center;
}
.between {
  display: flex;
  justify-content: space-between;
}
.around {
  display: flex;
  justify-content: space-around;
}
.middle {
  display: flex;
  justify-content: center;
}
.wrap {
  display: flex;
  flex-flow: wrap;
}
.fill {
  flex: 1;
  width: 100vw;
  display: flex;
  min-height: 100vh;
}
.box {
  display: flex;
  margin: 0.6rem;
  padding: 0.9rem;
  max-width: 900px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.box h1,
.box h2,
.box i {
  font-family: 'Roboto Mono', monospace;
}
.box h1,
.box h2 {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  text-transform: lowercase;
}
.shapes {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
}
.shapes svg {
  width: 100%;
  height: 100%;
}
.arrow {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  bottom: 18px;
  border: none;
  display: none;
  cursor: pointer;
  position: absolute;
}
.arrow:hover {
  border: none;
}
.arrow:after {
  content: '';
  margin: auto;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  animation-name: down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: translateY(0) rotate(135deg);
}
.art {
  padding: 0.9rem;
  position: relative;
}
.about {
  padding: 1rem;
}
.media {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media > a {
  padding: 0.5rem;
}
.blue.fc {
  color: #39e;
}
.orange.fc {
  color: #e93;
}
.green.fc {
  color: #3e9;
}
.pink.fc {
  color: #e39;
}
.purple.fc {
  color: #93e;
}
.lime.fc {
  color: #9e3;
}
.theme-white {
  background-color: #fff;
}
.theme-white .menu a {
  color: #fff;
}
.theme-white .menu .menu-list {
  background-color: #333;
}
.theme-white .menu .menu-icon > div {
  background-color: #333;
}
.theme-white .menu.active .menu-icon > div {
  background-color: #fff;
}
.theme-white .box {
  color: #fff;
  background-color: #333;
}
.theme-white .box h1,
.theme-white .box h2,
.theme-white .box h3,
.theme-white .box p,
.theme-white .box li {
  color: #fff;
}
.theme-white .arrow:after {
  border-color: #333;
}
.theme-black {
  background-color: #333;
}
.theme-black .menu a {
  color: #333;
}
.theme-black .menu .menu-list {
  background-color: #fff;
}
.theme-black .menu .menu-icon > div {
  background-color: #fff;
}
.theme-black .menu.active .menu-icon > div {
  background-color: #333;
}
.theme-black .box {
  color: #333;
  background-color: #fff;
}
.theme-black .box h1,
.theme-black .box h2,
.theme-black .box h3,
.theme-black .box p,
.theme-black .box li {
  color: #333;
}
.theme-black .arrow:after {
  border-color: #fff;
}
.theme-white .shapes .dynamic.fl {
  fill: #333;
}
.theme-black .shapes .dynamic.fl {
  fill: #fff;
}
.shapes .blue.fl {
  fill: #39e;
}
.shapes .orange.fl {
  fill: #e93;
}
.shapes .green.fl {
  fill: #3e9;
}
.shapes .pink.fl {
  fill: #e39;
}
.shapes .purple.fl {
  fill: #93e;
}
.shapes .lime.fl {
  fill: #9e3;
}
@keyframes down {
  0% {
    transform: translateY(0) rotate(135deg);
  }
  50% {
    transform: translateY(-1rem) rotate(135deg);
  }
  100% {
    transform: translateY(0) rotate(135deg);
  }
}
@media screen and (max-width: 1200px) {
  .box h1,
  .box h2 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 900px) {
  .box h1,
  .box h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 600px) {
  .box {
    margin: 0.3rem;
  }
  .box h1,
  .box h2 {
    font-size: 1.9rem;
  }
  .arrow {
    display: block;
  }
  .art {
    padding: 0.3rem;
    justify-content: center;
  }
  .art .box {
    align-self: center;
  }
}
@media screen and (max-width: 500px) {
  .box {
    padding: 0.3rem;
  }
  .box h1,
  .box h2 {
    font-size: 1.6rem;
  }
}
