* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Mono', monospace, sans-serif;
}
p {
  padding: 1rem;
  max-width: 900px;
}
a {
  cursor: pointer;
  border-radius: 1px;
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 1px currentColor;
}
i {
  color: inherit;
  font-weight: 100;
  font-style: normal;
  font-size: inherit;
  text-shadow: inherit;
  transition: color 0ms;
  text-transform: inherit;
}
h1,
h2,
h3 {
  font-weight: 300;
  text-align: center;
}
h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.3rem;
}
strong {
  color: inherit;
  font-style: normal;
  font-size: inherit;
  text-shadow: inherit;
  transition: color 0ms;
  text-transform: inherit;
}
ul {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: none;
}
ul li ul {
  list-style: disc inside;
}
li {
  padding: 0.5rem;
}
li i {
  font-size: 0.9rem;
}
.button {
  border: none;
  margin: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(34, 34, 34, 0.3);
}
.button:hover {
  box-shadow: 0 6px 6px rgba(34, 34, 34, 0.3);
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.end {
  align-self: flex-end;
}
.start {
  align-self: flex-start;
}
.between {
  justify-content: space-between;
}
.center {
  align-self: center;
}
.middle {
  justify-content: center;
}
.wrap {
  display: flex;
  max-width: 900px;
}
.fill {
  flex: 1;
  width: 100vw;
  display: flex;
  min-height: 100vh;
}
.box {
  padding: 1rem;
  display: flex;
  margin: 0.5rem;
  max-width: 900px;
  box-shadow: 0 3px 9px rgba(34, 34, 34, 0.3);
}
.box h1,
.box h2,
.box h3 {
  text-transform: lowercase;
}
.shapes {
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
}
.shapes svg {
  width: 100%;
  height: 100%;
}
.arrow {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  bottom: 18px;
  border: none;
  display: none;
  cursor: pointer;
  position: absolute;
}
.arrow:hover {
  border: none;
}
.arrow:after {
  content: '';
  margin: auto;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  animation-name: down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: translateY(0) rotate(135deg);
}
.art {
  padding: 1rem;
}
.about {
  padding: 1rem;
}
.media {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media > a {
  padding: 0.5rem;
}
li:nth-of-type(1n) > a {
  color: #29f;
}
li:nth-of-type(2n) > a {
  color: #2f9;
}
li:nth-of-type(3n) > a {
  color: #f92;
}
li:nth-of-type(4n) > a {
  color: #f29;
}
li:nth-of-type(5n) > a {
  color: #92f;
}
li:nth-of-type(6n) > a {
  color: #9f2;
}
.blue.fc {
  color: #29f;
}
.orange.fc {
  color: #f92;
}
.green.fc {
  color: #2f9;
}
.pink.fc {
  color: #f29;
}
.purple.fc {
  color: #92f;
}
.lime.fc {
  color: #9f2;
}
.blue.bc {
  background-color: #29f;
}
.blue.bc h1,
.blue.bc h2,
.blue.bc h3,
.blue.bc p {
  color: #fff;
}
.blue.bc a > i {
  color: #fff;
}
.blue.bc .box {
  color: #fff;
  background-color: #222;
}
.blue.bc .arrow:after {
  border-color: #222;
}
.white.bc {
  background-color: #fff;
}
.white.bc a > i {
  color: #222;
}
.white.bc .box {
  color: #fff;
  background-color: #222;
}
.white.bc .box h1,
.white.bc .box h2,
.white.bc .box h3,
.white.bc .box p,
.white.bc .box li {
  color: #fff;
}
.white.bc .arrow:after {
  border-color: #222;
}
.black.bc {
  background-color: #222;
}
.black.bc a > i {
  color: #fff;
}
.black.bc .box {
  color: #222;
  background-color: #fff;
}
.black.bc .box h1,
.black.bc .box h2,
.black.bc .box h3,
.black.bc .box p,
.black.bc .box li {
  color: #222;
}
.black.bc .arrow:after {
  border-color: #fff;
}
.shapes .blue.fl {
  fill: #29f;
}
.shapes .orange.fl {
  fill: #f92;
}
.shapes .green.fl {
  fill: #2f9;
}
.shapes .pink.fl {
  fill: #f29;
}
.shapes .purple.fl {
  fill: #92f;
}
.black.bc .shapes .dynamic.fl {
  fill: #fff;
}
.white.bc .shapes .dynamic.fl {
  fill: #222;
}
@keyframes down {
  0% {
    transform: translateY(0) rotate(135deg);
  }
  50% {
    transform: translateY(-1rem) rotate(135deg);
  }
  100% {
    transform: translateY(0) rotate(135deg);
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .arrow {
    display: block;
  }
  .box {
    padding: 0.9rem 0.6rem;
  }
  .art {
    justify-content: center;
  }
  .art .box {
    align-self: center;
  }
}
