* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Mono', monospace, sans-serif;
  transition: all 300ms ease;
}
footer {
  display: flex;
  flex: 1 0 auto;
}
a {
  cursor: pointer;
  border-radius: 1px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 1px transparent;
}
p {
  padding: 1rem;
  max-width: 900px;
}
ul {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: circle inside;
}
li {
  padding: 1rem;
}
h1,
h2,
h3 {
  font-weight: 300;
}
h1 small,
h2 small,
h3 small {
  color: inherit;
  font-weight: 100;
  font-size: inherit;
  text-shadow: inherit;
  transition: color 0ms;
  text-transform: inherit;
}
h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.3rem;
}
.button {
  border: none;
  margin: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(34, 34, 34, 0.3);
}
.button:hover {
  box-shadow: 0 6px 6px rgba(34, 34, 34, 0.3);
}
.fa {
  font-size: 3rem;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.end {
  align-self: flex-end;
}
.start {
  align-self: flex-start;
}
.between {
  justify-content: space-between;
}
.center {
  align-self: center;
}
.middle {
  justify-content: center;
}
.fill {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.box {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  box-shadow: 0 3px 9px rgba(34, 34, 34, 0.3);
}
.box h1,
.box h2,
.box h3 {
  text-transform: lowercase;
}
.shapes {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
}
.art {
  padding: 1rem;
}
.about {
  box-shadow: 0 -3px 9px rgba(34, 34, 34, 0.3);
}
.media {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media > a {
  padding: 0.5rem;
}
.orange {
  color: #222;
  background-color: #f92;
}
.orange > h1,
.orange > h2,
.orange > h3,
.orange > p,
.orange > i,
.orange > a {
  color: #222;
}
.orange a {
  border-bottom-color: #fff;
}
.green {
  color: #222;
  background-color: #2f9;
}
.green > h1,
.green > h2,
.green > h3,
.green > p,
.green > i,
.green > a {
  color: #222;
}
.green a {
  border-bottom-color: #fff;
}
.blue {
  color: #fff;
  background-color: #29f;
}
.blue > h1,
.blue > h2,
.blue > h3,
.blue > p,
.blue > i,
.blue > a {
  color: #fff;
}
.blue a {
  border-bottom-color: #fff;
}
.black {
  color: #fff;
  background-color: #222;
}
.black > h1,
.black > h2,
.black > h3,
.black > p,
.black > i,
.black > a {
  color: #fff;
}
.black a {
  border-bottom-color: #fff;
}
.light {
  background-color: #fff;
}
.light .box {
  background-color: #222;
}
.light .box h1,
.light .box h2,
.light .box h3 {
  color: #fff;
}
.light .arrow:after {
  border-color: #222;
}
.dark {
  background-color: #222;
}
.dark .box {
  background-color: #fff;
}
.dark .box h1,
.dark .box h2,
.dark .box h3 {
  color: #222;
}
.dark .arrow:after {
  border-color: #fff;
}
@keyframes down {
  0% {
    transform: translateY(0) rotate(135deg);
  }
  50% {
    transform: translateY(-1rem) rotate(135deg);
  }
  100% {
    transform: translateY(0) rotate(135deg);
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .art {
    justify-content: center;
  }
  .art .box {
    align-self: center;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}
