* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Mono', monospace, sans-serif;
  transition: color 300ms ease-in-out, border 300ms ease-in-out, opacity 300ms ease-in-out, background 300ms ease-in-out, box-shadow 300ms ease-in-out, text-decoration 300ms ease-in-out;
}
footer {
  display: flex;
  flex: 1 0 auto;
}
a {
  color: #29f;
  cursor: pointer;
  border-radius: 1px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 1px transparent;
}
a:hover {
  border-bottom-color: #f29;
}
p {
  padding: 1rem;
  max-width: 900px;
}
ul {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style: circle inside;
}
li {
  padding: 1rem;
}
h1 {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 300;
}
h2 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.button {
  border: none;
  margin: 1rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 3px 3px rgba(51, 51, 51, 0.3);
}
.button:hover {
  box-shadow: 0 3px 6px rgba(51, 51, 51, 0.6);
}
.button.orange {
  color: #f92;
  border-color: #f92;
}
.button.orange:hover {
  color: #222;
  background-color: #f92;
}
.button.green {
  color: #2f9;
  border-color: #2f9;
}
.button.green:hover {
  color: #222;
  background-color: #2f9;
}
.fa {
  font-size: 3rem;
}
.media {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media > a {
  padding: 0.5rem;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.end {
  align-self: flex-end;
}
.start {
  align-self: flex-start;
}
.s-center {
  align-self: center;
}
.wrap {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fill {
  display: flex;
  flex: 1 0 auto;
}
.shapes {
  display: flex;
  flex: 1 0 auto;
}
.art {
  padding: 15px;
  outline-offset: -15px;
  outline: solid 1px transparent;
}
.art .title.start {
  align-self: flex-start;
}
.art .title.end {
  align-self: flex-end;
}
.art .title > h1 {
  padding: 1rem 1rem;
  text-transform: lowercase;
}
.art .title > h1 > small {
  color: inherit;
  font-weight: 100;
  font-size: inherit;
  text-shadow: inherit;
  text-transform: inherit;
}
.light .fa {
  color: #fff;
}
.light .frame {
  outline-color: #222;
}
.light .arrow:after {
  border-color: #222;
}
.light .art {
  outline-color: #222;
  background-color: #fff;
}
.light .art > .title > h1 {
  color: #222;
}
.light .about {
  background-color: #222;
}
.light .about h2,
.light .about p {
  color: #fff;
}
.light .media {
  background-color: #29f;
}
.dark .fa {
  color: #222;
}
.dark .frame {
  outline-color: #fff;
}
.dark .arrow:after {
  border-color: #fff;
}
.dark .art .title h1 {
  color: #fff;
}
.dark .art {
  background-color: #222;
}
.dark .media {
  background-color: #29f;
}
.arrow {
  bottom: 0;
  width: 3rem;
  height: 3rem;
  bottom: 18px;
  border: none;
  display: block;
  cursor: pointer;
  position: absolute;
  align-self: center;
  text-decoration: none;
}
.arrow:hover {
  border: none;
}
.arrow:after {
  content: '';
  margin: auto;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  animation-name: down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: translateY(0) rotate(135deg);
}
@keyframes down {
  0% {
    transform: translateY(0) rotate(135deg);
  }
  50% {
    transform: translateY(-1rem) rotate(135deg);
  }
  100% {
    transform: translateY(0) rotate(135deg);
  }
}
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 1300px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  .art .title.start {
    order: 1;
    padding-top: 3rem;
    align-self: center;
  }
  .art .title.end {
    order: 2;
    align-self: center;
  }
  .art .shapes {
    order: 3;
  }
  .art .arrow {
    order: 4;
  }
}
@media screen and (max-width: 600px) {
  .wrap {
    padding: 1rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}
