@black: #222;
@blue: #29f;
@orange: #f92;
@green: #2f9;
@pink: #f29;
@purple: #92f;
@lime: #9f2;
@white: #fff;
@gray: #999;
@black-transparent: rgba(34, 34, 34, 0.3);
@shadow: 0 3px 3px @black-transparent;

* {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-size: 14px;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto Mono', monospace, sans-serif;
}
body {
	position: relative;
}
header {
	width: 100%;
	position: absolute;
}
p {
	padding: 1rem;
	max-width: 900px;
}
a {
	color: @blue;
	cursor: pointer;
	border-radius: 1px;
	font-size: inherit;
	display: inline-block;
	text-decoration: none;
	border-bottom: solid 1px currentColor;
}
i {
	color: inherit;
	font-weight: 100;
	font-style: normal;
	font-size: inherit;
	text-shadow: inherit;
	transition: color 0ms;
	text-transform: inherit;
}
h1, h2, h3 {
	font-weight: 300;
	text-align: center;
}
h1 {
	font-size: 2.9rem;
}
h2 {
	font-size: 2.6rem;
}
h3 {
	font-size: 2.3rem;
}
strong {
	color: inherit;
	font-style: normal;
	font-size: inherit;
	text-shadow: inherit;
	transition: color 0ms;
	text-transform: inherit;
}
textarea {
	width: 100%;
}
input, textarea {
	flex: 1;
	display: flex;
	border: none;
	margin: 0.5rem;
	max-width: 100%;
	padding: 0.5rem;
    border-bottom: solid 1px @gray;
}
input:focus, textarea:focus {
	border-bottom: solid 1px @black;
}
ul {
	margin: 0.5rem;
	padding: 0.5rem;
	list-style: none;
	li {
		padding: 0.5rem;
		i {
			color: @gray;
			font-size: 0.9rem;
			font-style: italic;
		}
		ul {
			list-style: disc inside;
		}
	}

}

::selection {
	color: @white;
	background-color: @blue;
}
::-moz-selection {
	color: @white;
	background-color: @blue;
}

// globals
.button {
    color: @blue;
	border: none;
	cursor: pointer;
	margin: 3rem auto;
	padding: 0.5rem 1rem;
    background: transparent;
    border: solid 1px @blue;
    text-transform: uppercase;
}
.button:hover {
    color: #ffffff;
    background: @blue;
}
.title {
    padding: 6rem 0 3rem 0;
}
.menu {
	.menu-list {
		a.active:nth-of-type(1n) {
			border-color: @blue;
		}
		a:hover:nth-of-type(1n) {
			background-color: @blue;
		}
		a.active:nth-of-type(2n) {
			border-color: @orange;
		}
		a:hover:nth-of-type(2n) {
			background-color: @orange;
		}
		a.active:nth-of-type(3n) {
			border-color: @green;
		}
		a:hover:nth-of-type(3n) {
			background-color: @green;
		}
		a.active:nth-of-type(4n) {
			border-color: @pink;
		}
		a:hover:nth-of-type(4n) {
			background-color: @pink;
		}
		a.active:nth-of-type(5n) {
			border-color: @purple;
		}
		a:hover:nth-of-type(5n) {
			background-color: @purple;
		}
		a.active:nth-of-type(6n) {
			border-color: @lime;
		}
		a:hover:nth-of-type(6n) {
			background-color: @lime;
		}
	}
	&.active .menu-list {
		box-shadow: -3px 0 3px rgba(34, 34, 34, 0.1);
	}
}

// layout
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

.start {
	display: flex;
	align-self: flex-start;
}
.end {
	display: flex;
	align-self: flex-end;
}
.center {
	display: flex;
	align-self: center;
}

.between {
	display: flex;
	justify-content: space-between;
}
.around {
	display: flex;
	justify-content: space-around;
}
.middle {
	display: flex;
	justify-content: center;
}

.wrap {
	display: flex;
	flex-flow: wrap;
}
.fill {
	flex: 1;
	width: 100vw;
	display: flex;
	min-height: 100vh;
}

// items
.box {
	padding: 1rem;
	display: flex;
	margin: 0.5rem;
	max-width: 900px;
	box-shadow: @shadow;
	h1, h2, h3 {
		text-transform: lowercase;
	}
}
.shapes {
	opacity: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	svg {
		width: 100%;
		height: 100%;
	}
}
.arrow {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3rem;
	bottom: 18px;
	border: none;
	display: none;
	cursor: pointer;
	position: absolute;
}
.arrow:hover {
	border: none;
}
.arrow:after {
	content: '';
	margin: auto;
	border: none;
    width: 2.5rem;
    height: 2.5rem;
	display: block;
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	transform: translateY(0) rotate(135deg);
}

// sections
.art {
	padding: 1rem;
}
.about {
	padding: 1rem;
}
.media {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	> a {
		padding: 0.5rem;
	}
}

// colors
.blue.fc {
	color: @blue;
}
.orange.fc {
	color: @orange;
}
.green.fc {
	color: @green;
}
.pink.fc {
	color: @pink;
}
.purple.fc {
	color: @purple;
}
.lime.fc {
	color: @lime;
}

.white.bc {
	background-color: @white;
	.menu {
		a {
			color: @white;
		}
		.menu-icon > div {
			background-color: @black;
		}
		.menu-list {
			background-color: @black;
		}
		&.active .menu-icon > div {
			background-color: @white;
		}
	}
	.box {
		color: @white;
		background-color: @black;
		h1, h2, h3, p, li {
			color: @white;
		}
	}
	.arrow:after {
		border-color: @black;
	}
}
.black.bc {
	background-color: @black;
	.menu {
		a {
			color: @black;
		}
		.menu-icon > div {
			background-color: @white;
		}
		.menu-list {
			background-color: @white;
		}
		&.active .menu-icon > div {
			background-color: @black;
		}
	}

	.box {
		color: @black;
		background-color: @white;
		h1, h2, h3, p, li {
			color: @black;
		}
	}
	.arrow:after {
		border-color: @white;
	}
}

// shapes
.shapes .blue.fl {
	fill: @blue;
}
.shapes .orange.fl {
	fill: @orange;
}
.shapes .green.fl {
	fill: @green;
}
.shapes .pink.fl {
	fill: @pink;
}
.shapes .purple.fl {
	fill: @purple;
}
.black.bc .shapes .dynamic.fl {
	fill: @white;
}
.white.bc .shapes .dynamic.fl {
	fill: @black;
}

// animations
@keyframes down {
    0% {
		transform: translateY(0) rotate(135deg);
    }
    50% {
		transform: translateY(-1rem) rotate(135deg);
    }
    100% {
		transform: translateY(0) rotate(135deg);
    }
}

// mobile
@media screen and (max-width: 1200px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.9rem;
	}
	h3 {
		font-size: 1.6rem;
	}
}
@media screen and (max-width: 600px) {
	// * {
	// 	font-size: 14px;
	// }
	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	.arrow {
		display: block;
	}
	.box {
		padding: 0.9rem 0.6rem;
	}
	.art {
		justify-content: center;
		.box {
			align-self: center;
		}
	}
}

@media screen and (max-width: 400px) {
	* {
		font-size: 12px;
	}
}
