/*
	black #333
	blue #39e
	orange #e93
	green #3e9
	pink #e39
	purple #93e
	lime #9e3
*/
:root {
	scroll-behavior: smooth;
	
	--black: #222;
	--blue: #29f;
	--orange: #f92;
	--green: #2f9;
	--pink: #f29;
	--purple: #92f;
	--lime: #9f2;

	--white: #fff;
	--lightGray: #eee;
	--darkGray: #999;

	--blackTrans: rgba(0, 0, 0, 0.3);
	--shadow: 0 3px 6px var(--blackTrans);
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	max-width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
html, body {
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
}
header {
	z-index: 1;
	width: 100%;
	position: absolute;
}
p, a, h1, h2 {
	color: var(--black);
}
p, ul {
	width: 100%;
	max-width: 600px;
	line-height: 1.9rem;
	margin: 0.3rem 0.6rem;
	padding: 0.3rem 0.6rem;
}
a {
	color: var(--blue);
	cursor: pointer;
	padding: 0.3rem;
	font-size: inherit;
	display: inline-block;
	text-decoration: none;
	border: solid 1px transparent;
	border-bottom-color: currentColor;
}
a:hover {
	border-color: currentColor;
}
i {
	color: inherit;
	font-weight: 100;
	font-style: normal;
	font-size: inherit;
	text-shadow: inherit;
	transition: color 0ms;
	text-transform: inherit;
}
h1, h2 {
	padding: 0.3rem 0.6rem;
	font-weight: 300;
	text-transform: capitalize;
}
h1 {
	font-size: 2.9rem;
}
h2 {
	margin: 0.6rem;
	padding: 0.6rem;
	margin-top: 3rem;
	font-size: 2.3rem;
	border-bottom: solid 1px var(--lightGray);
}
strong {
	color: inherit;
	font-style: normal;
	font-size: inherit;
	text-shadow: inherit;
	transition: color 0ms;
	text-transform: inherit;
}
input, textarea {
	flex: 1;
	border: none;
	display: flex;
	margin: 0.6rem;
	max-width: 100%;
	padding: 0.6rem;
	background: var(--white);
    border-bottom: solid 1px var(--lightGray);
}
textarea {
	width: 100%;
	min-height: 6rem;
	margin: 0.6rem 0;
}
input:focus, textarea:focus {
	background: var(--lightGray);
	border-color: var(--blue);
}
ul {
	list-style: none;
}
ul li {
	padding: 0.3rem;
}
ul li i {
	color: var(--darkGray);
	font-size: 0.9rem;
	font-style: italic;
}
ul li ul {
	list-style: disc inside;
}
form {
	padding: 0.9rem;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
}
::selection {
	color: var(--white);
	background-color: var(--blue);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--blue);
}
::-webkit-input-placeholder {
	color: var(--darkGray);
}
::-moz-placeholder {
	color: var(--darkGray);
}
:-ms-input-placeholder {
	color: var(--darkGray);
}
:-moz-placeholder {
	color: var(--darkGray);
}
/*
	globals
*/
.button {
	border: none;
	color: var(--blue);
	cursor: pointer;
	margin: 0.3rem;
	border: solid 1px;
	border-color: var(--blue);
	padding: 0.6rem 0.9rem;
    text-transform: uppercase;
}
.button:hover:enabled {
	color: var(--white);
	background-color: var(--blue);
}
.button:disabled, .button:disabled:hover {
	cursor: not-allowed;
	color: var(--darkGray);
	border-color: var(--darkGray);
}
.title {
	margin-bottom: 3rem;
	background: var(--blue);
	box-shadow: var(--shadow);
}
.title h1 {
	color: var(--white);
	text-align: center;
	padding: 6rem 0 3rem 0;
}
.menu .menu-list a.active {
	color: var(--darkGray);
}
.menu .menu-list a:hover {
	background-color: var(--blue);
}
.menu.active .menu-list {
	box-shadow: -3px 0 6px var(--blackTrans);
}
/*
	layout
*/
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

.start {
	display: flex;
	align-self: flex-start;
}
.end {
	display: flex;
	align-self: flex-end;
}
.center {
	display: flex;
	align-self: center;
}

.between {
	display: flex;
	justify-content: space-between;
}
.around {
	display: flex;
	justify-content: space-around;
}
.middle {
	display: flex;
	justify-content: center;
}

.wrap {
	display: flex;
	flex-flow: wrap;
}
.fill {
	flex: 1;
	width: 100vw;
	display: flex;
	min-height: 100vh;
}
/*
	items
*/
.box {
	display: flex;
	margin: 0.6rem;
	padding: 0.9rem;
	max-width: 900px;
	box-shadow: var(--shadow);
}
.box h1, .box h2, .box  i {
	font-family: 'Roboto Mono', monospace;
}
.box h1, .box h2 {
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
	text-transform: lowercase;
}
.shapes {
	z-index: -1;
	width: 100vw;
	height: 100vh;
	position: fixed;
}
.shapes svg {
	width: 100vw;
	height: 100vh;
}
.arrow {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 6rem;
	border: none;
	display: none;
	cursor: pointer;
	position: absolute;
}
.arrow:hover {
	border: none;
}
.arrow:after {
	content: '';
	margin: auto;
	border: none;
    width: 3rem;
    height: 3rem;
	display: block;
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	transform: translateY(0) rotate(135deg);
}
/*
 	sections
*/
.art {
	padding: 0.9rem;
	position: relative;
}
.about {
	padding: 0.9rem;
}
/*
 	colors
*/
.blue.fc {
	color: var(--blue);
}
.orange.fc {
	color: var(--orange);
}
.green.fc {
	color: var(--green);
}
.pink.fc {
	color: var(--pink);
}
.purple.fc {
	color: var(--purple);
}
.lime.fc {
	color: var(--lime);
}

.theme-white {
	background-color: var(--white);
}
.theme-white .menu a {
	color: var(--white);
}
.theme-white .menu .menu-list {
	background-color: var(--black);
}
.theme-white .menu .menu-icon > div {
	background-color: var(--black);
}
.theme-white .menu.active .menu-icon > div {
	background-color: var(--white);
}
.theme-white .box {
	color: var(--white);
	background-color: var(--black);
}
.theme-white .box h1,
.theme-white .box h2,
.theme-white .box h3,
.theme-white .box p,
.theme-white .box li {
	color: var(--white);
}
.theme-white .arrow:after {
	border-color: var(--black);
}

.theme-black {
	background-color: var(--black);
}
.theme-black .menu a {
	color: var(--black);
}
.theme-black .menu .menu-list {
	background-color: var(--white);
}
.theme-black .menu .menu-icon > div {
	background-color: var(--white);
}
.theme-black .menu.active .menu-icon > div {
	background-color: var(--black);
}
.theme-black .box {
	color: var(--black);
	background-color: var(--white);
}
.theme-black .box h1,
.theme-black .box h2,
.theme-black .box h3,
.theme-black .box p,
.theme-black .box li {
	color: var(--black);
}
.theme-black .arrow:after {
	border-color: var(--white);
}
.theme-white .shapes .dynamic.fl {
	fill: var(--black);
}
.theme-black .shapes .dynamic.fl {
	fill: var(--white);
}

.shapes .blue.fl {
	fill: var(--blue);
}
.shapes .orange.fl {
	fill: var(--orange);
}
.shapes .green.fl {
	fill: var(--green);
}
.shapes .pink.fl {
	fill: var(--pink);
}
.shapes .purple.fl {
	fill: var(--purple);
}
.shapes .lime.fl {
	fill: var(--lime);
}
@keyframes down {
    0% {
		transform: translateY(-1rem) rotate(135deg);
    }
    50% {
		transform: translateY(2rem) rotate(135deg);
    }
    100% {
		transform: translateY(-1rem) rotate(135deg);
    }
}
@media screen and (max-width: 1200px) {
	.box h1, .box h2 {
		font-size: 2.6rem;
	}
}
@media screen and (max-width: 900px) {
	.box h1, .box h2 {
		font-size: 2.3rem;
	}
}
@media screen and (max-width: 600px) {
	.box h1, .box h2 {
		font-size: 1.9rem;
	}
	.arrow {
		display: block;
	}
	.art {
		justify-content: center;
	}
	.art .box {
		align-self: center;
	}
}
@media screen and (max-width: 500px) {
	.row.sm {
		flex-direction: column;
	}
	ul li strong {
		display: block;
	}
	.box h1, .box h2 {
		font-size: 1.6rem;
	}
}
@media screen and (max-width: 400px) {
	.box h1, .box h2 {
		font-size: 1.3em;
	}
}
