@dark: #222;
@light: #fff;
@blue: #29f;
@green: #2f9;
@orange: #f92;
@pink: #f29;
@purple: #92f;
@glass: rgba(255, 255, 255, 0.3);
@light-shadow: 0 3px 3px rgba(51, 51, 51, 0.3);
@dark-shadow: 0 3px 6px rgba(51, 51, 51, 0.6);

// @dark-pattern: linear-gradient(
// 	-135deg, transparent 20%, rgba(0,0,0,0.03) 20%, rgba(0,0,0,0.03) 30%, transparent 30%, transparent 70%, rgba(0,0,0,0.03) 70%, rgba(0,0,0,0.03) 80%,
// 	transparent 80%), linear-gradient(135deg, transparent 20%, rgba(0,0,0,0.03) 20%, rgba(0,0,0,0.03) 30%, rgba(0,0,0,0.03) 30%, rgba(0,0,0,0.03) 40%,
// 	transparent 40%, transparent 70%, rgba(0,0,0,0.03) 70%, rgba(0,0,0,0.03) 80%, rgba(0,0,0,0.03) 80%, rgba(0,0,0,0.03) 90%, transparent 90%
// );
//
// @light-pattern: linear-gradient(
// 	-135deg, transparent 20%, rgba(255,255,255,0.03) 20%, rgba(255,255,255,0.03) 30%, transparent 30%, transparent 70%, rgba(255,255,255,0.03) 70%, rgba(255,255,255,0.03) 80%,
// 	transparent 80%), linear-gradient(135deg, transparent 20%, rgba(255,255,255,0.03) 20%, rgba(255,255,255,0.03) 30%, rgba(255,255,255,0.03) 30%, rgba(255,255,255,0.03) 40%,
// 	transparent 40%, transparent 70%, rgba(255,255,255,0.03) 70%, rgba(255,255,255,0.03) 80%, rgba(255,255,255,0.03) 80%, rgba(255,255,255,0.03) 90%, transparent 90%
// );

* {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto Mono', monospace, sans-serif;

	transition:
		color 300ms ease-in-out,
		border 300ms ease-in-out,
		opacity 300ms ease-in-out,
		background 300ms ease-in-out,
		box-shadow 300ms ease-in-out,
		text-decoration 300ms ease-in-out;
}
// header, footer {
// 	z-index: 1;
// 	width: 100%;
// 	position: absolute;
// }
footer {
	display: flex;
	flex: 1 0 auto;
}
a {
	color: @blue;
	cursor: pointer;
	border-radius: 1px;
	display: inline-block;
	text-decoration: none;
	border-bottom: solid 1px transparent;
}
a:hover {
	border-bottom-color: @pink;
}
p {
	padding: 1rem;
	max-width: 900px;
}
ul {
	margin: 0.5rem;
	padding: 0.5rem;
	list-style: circle inside;
}
li {
	padding: 1rem;
}
h1 {
	padding: 1rem;
	font-size: 3rem;
	font-weight: 300;
}
h2 {
	padding: 1rem;
	font-size: 2rem;
	font-weight: 300;
}
// .light-bg {
// 	background-color: @light;
// }
// .dark-bg {
// 	background-color: @dark;
// }
.button {
	border: none;
	margin: 1rem;
	border-width: 1px;
	border-style: solid;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: @light-shadow;
}
.button:hover {
	box-shadow: @dark-shadow;
}
.button.orange {
	color: @orange;
	border-color: @orange;
}
.button.orange:hover {
	color: @dark;
	background-color: @orange;
}
.button.green {
	color: @green;
	border-color: @green;
}
.button.green:hover {
	color: @dark;
	background-color: @green;
}
.fa {
	font-size: 3rem;
}
.media {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	> a {
		padding: 0.5rem;
	}
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
.end {
	align-self: flex-end;
}
.start {
	align-self: flex-start;
}
.s-center {
	align-self: center;
}
.wrap {
	padding: 3rem;
	display: flex;
	flex-direction: column;
}
.center {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.fill {
	display: flex;
	flex: 1 0 auto;
}
// .frame {
// 	padding: 15px;
// 	outline-offset: -15px;
// 	outline: solid 1px transparent;
// }
// .edges {
// 	box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.3);
// }
// .menu {
// 	width: 100%;
// 	padding: 2rem;
// 	display: flex;
// 	align-items: center;
// 	flex-direction: row;
// 	justify-content: center;
// 	> a {
// 		margin: 0 1rem;
// 		padding: 0.5rem;
// 		color: @light;
// 		line-height: 2rem;
// 		text-shadow: @light-shadow;
// 		display: inline-block;
// 		text-transform: uppercase;
// 	}
// 	a.active {
// 		border-bottom-color: @light;
// 	}
// 	a:hover {
// 		border-bottom-color: @light;
// 	}
// }
// .profile {
// 	z-index: 1;
//     height: 300px;
//     width: 300px;
//     overflow: hidden;
//     border-radius: 300px;
// 	background-color: @blue;
//     // background: rgba(0, 102, 204, 0.3);
// 	box-shadow: @light-shadow;
// 	> img {
// 		filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.6));
// 	}
// }
.shapes {
	display: flex;
	flex: 1 0 auto;
}
.art {
	padding: 15px;
	outline-offset: -15px;
	outline: solid 1px transparent;
	.title.start {
		align-self: flex-start;
	}
	.title.end {
		align-self: flex-end;
	}
	.title {
		> h1 {
			padding: 1rem 1rem;
			text-transform: lowercase;
			> small {
				color: inherit;
				font-weight: 100;
				font-size: inherit;
				text-shadow: inherit;
				text-transform: inherit;
			}
		}
	}
}

// .about {
// 	justify-content: center;
// 	flex-direction: column;
// }

// themes
.light {
	.fa {
		color: @light;
	}
	.frame {
		outline-color: @dark;
	}
	.arrow:after {
	    border-color: @dark;
	    border-color: @dark;
	}
	.art {
		outline-color: @dark;
		background-color: @light;
		> .title > h1 {
			color: @dark;
		}
	}
	.about {
		background-color: @dark;
		h2, p {
			color: @light;
		}
	}
	.media {
		background-color: @blue;
	}
}
.dark {
	.fa {
		color: @dark;
	}
	.frame {
		outline-color: @light;
	}
	.arrow:after {
	    border-color: @light;
	    border-color: @light;
	}
	.art .title h1 {
		color: @light;
	}
	.art {
		background-color: @dark;
	}
	.media {
		background-color: @blue;
	}
}

// animations
.arrow {
	bottom: 0;
	width: 3rem;
	height: 3rem;
	bottom: 18px;
	border: none;
	display: block;
	cursor: pointer;
	position: absolute;
	align-self: center;
	text-decoration: none;
}
.arrow:hover {
	border: none;
}
.arrow:after {
	content: '';
	margin: auto;
	border: none;
    width: 2.5rem;
    height: 2.5rem;
	display: block;
    border-top: solid 1px transparent;
    border-right: solid 1px transparent;
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	transform: translateY(0) rotate(135deg);
}

@keyframes down {
    0% {
		transform: translateY(0) rotate(135deg);
    }
    50% {
		transform: translateY(-1rem) rotate(135deg);
    }
    100% {
		transform: translateY(0) rotate(135deg);
    }
}

// mobile
@media screen and (max-width: 1400px) {
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.6rem;
	}
}
@media screen and (max-width: 1300px) {
	h1 {
		font-size: 2.3rem;
	}
	h2 {
		font-size: 2.3rem;
	}
}
@media screen and (max-width: 1200px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 2rem;
	}
}
@media screen and (max-width: 1000px) {
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.6rem;
	}
	.art .title.start {
		order: 1;
		padding-top: 3rem;
		align-self: center;
	}
	.art .title.end {
		order: 2;
		align-self: center;
	}
	.art .shapes {
		order: 3;
	}
	.art .arrow {
		order: 4;
	}
}
@media screen and (max-width: 600px) {
	.wrap {
		padding: 1rem;
	}
	h1 {
		font-size: 2.3rem;
	}
	h2 {
		font-size: 2.3rem;
	}
}
@media screen and (max-width: 550px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 2rem;
	}
}
@media screen and (max-width: 500px) {
	h1 {
		font-size: 1.9rem;
	}
	h2 {
		font-size: 1.9rem;
	}
	p {
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 450px) {
	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.6rem;
	}
}
@media screen and (max-width: 400px) {
	h1 {
		font-size: 1.3rem;
	}
	h2 {
		font-size: 1.3rem;
	}
}
